* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

/* =====================
   SVG BACKGROUND
===================== */
.bg-svg {
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.bg-svg svg {
    width: 100%;
    height: 100%;
}

.wave {
    fill: none;
    stroke: url(#lineGrad);
    stroke-width: 2;
    filter: drop-shadow(0 0 10px #00f3ff);
    animation: waveMove 6s ease-in-out infinite;
}

.wave.delay {
    animation-delay: -2s;
    opacity: 0.6;
}

.wave.delay2 {
    animation-delay: -4s;
    opacity: 0.3;
}

@keyframes waveMove {
    0% {
        d: path("M0 500 Q250 450 500 500 T1000 500");
    }
    50% {
        d: path("M0 520 Q250 560 500 520 T1000 520");
    }
    100% {
        d: path("M0 500 Q250 450 500 500 T1000 500");
    }
}

#navBtn {
    font-size: 50px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.overlay {
    width: 0%;
    height: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #06060a, #000);
    overflow: hidden;
    transform: scale(1.1);
    opacity: 0;
    filter: blur(20px);
    transition: width 1s cubic-bezier(0.77, 0, 0.18, 1), opacity 0.8s ease, filter 1s ease, transform 1s ease;
}

/* ACTIVE STATE */
.overlay.active {
    width: 100%;
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

.overlay.active .bg-svg {
    opacity: 1;
}

.closeBtn {
    font-size: 80px;
    position: absolute;
    font-weight: bold;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.menu {
    position: relative;
    z-index: 1;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    white-space: nowrap;
}

.menu a {
    position: relative;
    color: #ffffff69;
    font-weight: bolder;
    font-size: 80px;
    cursor: pointer;

    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease;
}

.overlay.active .menu a {
    opacity: 1;
    transform: translateY(0);
}

.menu a::after {
    content: attr(after_text);
    position: absolute;
    left: 0;
    width: 0%;
    overflow: hidden;
    border-right: 10px solid var(--color);
    color: var(--color);
    transition: all 1s ease;
    text-shadow: 0 0 20px var(--color);
}

.menu a:hover::after {
    width: 100%;
}

.menu li:nth-child(1) a {
    transition-delay: 0.3s;
}
.menu li:nth-child(2) a {
    transition-delay: 0.45s;
}
.menu li:nth-child(3) a {
    transition-delay: 0.6s;
}
.menu li:nth-child(4) a {
    transition-delay: 0.75s;
}
