* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

#navBtn {
    font-size: 50px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.overlay {
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: all 1s ease;
}

.closeBtn {
    font-size: 80px;
    position: absolute;
    font-weight: bold;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    white-space: nowrap;
}

.menu a {
    position: relative;
    color: #ffffff69;
    font-weight: bolder;
    font-size: 80px;
    cursor: pointer;
}

.menu a::after {
    content: attr(after_text);
    position: absolute;
    left: 0;
    width: 0%;
    overflow: hidden;
    border-right: 10px solid var(--color);
    color: var(--color);
    transition: all 1s ease;
    text-shadow: 0 0 20px var(--color);
}

.menu a:hover::after {
    width: 100%;
}
